:root {
  --loader-size: 150px;
  --text-color: #cecece; /* Fill data-text */
  --color-one: #2979ff;
  --color-two: #ff1744;
  --color-three: #ffff8d;
  --color-four: #110021;
  --light-size: 3px;
}

/* █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ */
.s {
  background-color: #110021;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.Loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* width: 150px; */
  width: var(--loader-size, 150px);
  min-width: 110px;
  overflow: visible;
  margin: 20px;
  border-radius: 50%;
  box-shadow: inset 0 0 12px rgba(255, 255, 255, 0.4),
    0 0 35px rgba(255, 255, 255, 0.8);
}

.Loader::after {
  content: attr(data-text);
  color: var(--text-color, #cecece);
  font-family: Gugi, sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 400;
}

.Loader::before {
  content: '';
  float: left;
  padding-top: 100%;
}

.Loader__Circle {
  display: block;
  position: absolute;
  border-radius: 50%;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.8;
  mix-blend-mode: screen;
  filter: brightness(120%);
  -webkit-animation-name: SpinAround;
  animation-name: SpinAround;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

.Loader__Circle:nth-of-type(1) {
  box-shadow: inset 1px 0 0 1px #2979ff, 3px 0 0 3px #2979ff;
  box-shadow: inset 1px 0 0 1px var(--color-one, #2979ff),
    var(--light-size, 4px) 0 0 var(--light-size, 4px) var(--color-one, #2979ff);
  animation-direction: reverse;
  transform-origin: 49.6% 49.8%;
}

.Loader__Circle:nth-of-type(2) {
  box-shadow: inset 1px 0 0 1px #ff1744, 3px 0px 0 3px #ff1744;
  box-shadow: inset 1px 0 0 1px var(--color-two, #ff1744),
    var(--light-size, 4px) 0px 0 var(--light-size, 4px)
      var(--color-two, #ff1744);
  transform-origin: 49.5% 49.8%;
}

.Loader__Circle:nth-of-type(3) {
  box-shadow: inset 1px 0 0 1px #ffff8d, 0 3px 0 3px #ffff8d;
  box-shadow: inset 1px 0 0 1px var(--color-three, #ffff8d),
    0 var(--light-size, 4px) 0 var(--light-size, 4px)
      var(--color-three, #ffff8d);
  transform-origin: 49.8% 49.8%;
}

.Loader__Circle:nth-of-type(4) {
  box-shadow: inset 1px 0 0 1px #110021, 0 3px 0 3px #110021;
  box-shadow: inset 1px 0 0 1px var(--color-four, #b2ff59),
    0 var(--light-size, 4px) 0 var(--light-size, 4px) var(--color-four, #b2ff59);
  transform-origin: 49.7% 49.7%;
}

@-webkit-keyframes SpinAround {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(-360deg);
  }
}

@keyframes SpinAround {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(-360deg);
  }
}
