.title {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 45px;
  color: #f3f3f3;
}

.chart {
  position: relative;
  max-width: 400px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .chart {
    margin-right: 35px;
  }
}
