.title {
  font-family: 'Prompt', sans-serif;
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
  color: #f3f3f3;
}

.chart {
  max-width: 400px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .chart {
    margin-right: 35px;
  }
}
