.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form_label {
  font-size: 25px;
  line-height: 1, 5;
  margin: 20px 0px;
  padding: 5px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  text-align: center;
  color: #5515a8;
}
.form_input {
  width: 100%;
  padding: 5px 10px;
  border: none;
  border-bottom: 2px solid #470870;
  margin-top: 20px;
  background-color: inherit;
}
.input_box {
  display: flex;
}
.form_input_sum {
  width: calc(100% / 2);
  margin-right: 10px;
  margin-top: 20px;
  padding: 5px 10px;
  border: none;
  border-bottom: 2px solid #470870;
  background: inherit;
  outline: transparent;
}
.form_input:hover,
.form_input:focus,
.form_input:active {
  outline: transparent;
  background: inherit;
}

.form_input::placeholder {
  text-align: center;
}
.form_input_sum::placeholder {
  text-align: center;
}

.form_btn_add {
  width: 70%;
  font-family: Circe;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding: 5px 30px;
  border-radius: 20px;

  border: 2px solid transparent;
  outline: none;
  color: white;
  margin-top: 20px;
  background-color: #5515a8;
}

.form_btn_add:hover {
  background: inherit;
  background: rgb(15, 185, 143);
  box-shadow: 0px 6px 15px rgba(13, 134, 98, 0.5);
}

.form_btn_reject {
  width: 70%;
  font-family: Circe;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding: 5px 30px;
  border-radius: 20px;
  margin-top: 20px;
  background: inherit;
  border: 2px solid #5515a8;
  outline: none;
  color: #5515a8;
}
.form_btn_reject:hover {
  background: inherit;
  border: 2px solid rgba(255, 101, 150, 0.5);
  color: white;
  background: #ff6596;
  box-shadow: 0px 6px 15px rgba(255, 101, 150, 0.5);
}
