@media screen and (max-width: 767px) {
  .list {
    display: flex;
    justify-content: space-between;
  }

  .link {
    padding: 15px;
    background-color: rgba(45, 41, 51, 0.6);
    border: 1px solid #d2bde8;
    border-radius: 8px;
  }

  .link__active {
    background-color: rgb(45, 41, 51);
    box-shadow: 0 0 14px -4px #fff;
  }
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0 0 30px;
}

.link {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  text-decoration: none;
  text-transform: capitalize;
  color: #d2bde8;
  display: flex;
  align-items: center;
}

.link__active {
  font-family: Poppins, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  text-decoration: none;
  color: #d2bde8;
  display: flex;
  align-items: center;
}

.text {
  margin-left: 10px;
}
