.list {
  display: flex;
  justify-content: space-between;
  margin: 0 0 40px;
  padding: 0;
  width: 100%;
  background-color: #21212130;
  border-radius: 4px;
  box-shadow: 0 5px 15px 0 #212121a0;
}

.list li {
  width: 33.33333%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  padding: 14px 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.link__active {
  border-bottom: 1px solid #fffefe80;
  background: linear-gradient(to top, #21212190, transparent);
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .list {
    margin: 0 0 50px;
  }

  .link {
    padding: 10px;
  }
}

@media screen and (max-width: 767px) {
  .list {
    padding: 0;
    margin-bottom: 20px;
  }
  .link {
    padding: 10px;
  }
}
