.list {
  display: flex;
  justify-content: space-between;
  margin: 0 0 40px;
  padding: 10px 0;
  width: 100%;
  background-color: #21212130;
  border-radius: 8px;
}

.list li {
  width: 33.33333%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  padding: 15px;
  border-radius: 50%;
}

.link__active {
  box-shadow: 0 0 4px 0 inset #fffefec9;
  background-color: #212121aa;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .list {
    margin: 0 0 20px;
    padding: 5px;
  }

  .link {
    padding: 10px;
  }
}

@media screen and (max-width: 767px) {
  .list {
    padding: 5px 0;
    margin-bottom: 20px;
  }
  .list li {
    width: 20%;
  }
  .link {
    padding: 6px;
  }
}
