.user_menu {
  width: 100%;
  height: 100%;
  padding: 20px 10px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 3px 10px -2px #212121;
}

.user_avatar {
  margin-right: 40px;
}

.avatar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

.upload {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile_user {
  padding: 0;
  width: 100%;
  margin: -10px 0;
}

.user_item {
  display: flex;
  align-items: center;
  margin-right: 20px;
  justify-content: center;
}

.avatar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  width: 100%;
  max-width: 250px;
  padding: 20px;
}

@media screen and (min-width: 768px) {
  .avatar {
    max-width: 350px;
  }
}

.profile_name {
  display: flex;
  color: white;
  padding-left: 20px;
  text-transform: uppercase;
}

.edit {
  margin-left: auto;
  padding-right: 15px;
}

@media screen and (min-width: 768px) {
  .user_menu {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
}

@media screen and (max-width: 1279px) {
  .user_menu {
    border-bottom: 1px solid #fffefe;
    margin: 0 auto;
  }

  .user_avatar,
  .profile_list {
    width: 280px;
  }
}

@media screen and (max-width: 767px) {
  .user_avatar,
  .profile_list {
    margin: 0 auto;
  }

  .user_menu {
    padding: 0 0 20px;
  }

  .user_avatar,
  .profile_list {
    width: 100%;
    margin-bottom: 10px;
  }

  .user_item {
    width: inherit;
  }
}

@media screen and (min-width: 1280px) {
  .user_menu {
    border-right: 1px solid #fffefe;
    padding-left: 0;
  }

  .user_avatar,
  .profile_list {
    max-width: 300px;
  }
}

/* для чого ці стилі? */
.upload_avatar {
  background: inherit;
}


.user_item {
  display: flex;
  align-items: center;
  color: white;
  background-color: rgba(255, 255, 255, 0.24);
  border-radius: 10px;
  padding: 3px;
  width: 100%;
  margin-bottom: 10px;
}

.btn_edit {
  background: inherit;
  border: none;
  outline: none;
}
