.view-enter {
  opacity: 0;
  transform: scale(0.8);
}

.view-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 250ms, transform 300ms;
}

.view-exit {
  opacity: 0.3;
  transform: scale(1);
}

.view-exit-active {
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 250ms, transform 250ms;
}
