.container {
  display: block;
  height: 100%;
  padding: 0px;
  margin: 0px;
  border-radius: 20px;
}

@media screen and (min-width: 767px) {
  .container {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    height: 80%;
    margin-top: 50px;
  }
}

.box {
  border-radius: 20px;
}
.box_btn_rejected {
  display: flex;
  justify-content: center;
  align-items: center;
  background: inherit;
  margin-bottom: 10px;
}

.rejected {
  background: linear-gradient(
    45deg,
    rgba(197, 21, 21, 0.849) 10%,
    rgba(228, 26, 60, 0.897) 43%,
    rgba(223, 25, 25, 0.795)
  ) !important;
  text-transform: uppercase;
  color: white !important;
  font-size: 1rem !important;
  width: 60%;
  max-width: 300px;
  border-radius: 5px;
}
.box_close_btn {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  color: white;
}

.list_modal {
  height: 100%;
  padding: 10px;
  background: linear-gradient(90deg, #8609f9 20%, #3e2ac0 50%);
}
