.container {
  display: block;
  padding: 0px;
  margin: 0px;
}

@media screen and (min-width: 767px) {
  .container {
    width: 70%;
    padding: 5%;
    margin-left: auto;
    margin-right: auto;
  }
}

.toolbar {
  background: linear-gradient(
    45deg,
    rgb(110, 25, 154) 10%,
    rgb(76, 21, 201) 43%,
    rgb(102, 50, 158)
  );
  color: white;
  text-transform: uppercase;
  padding: 0px;
}

.box_btn_rejected {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rejected {
  background: linear-gradient(
    45deg,
    rgba(197, 21, 21, 0.849) 10%,
    rgba(228, 26, 60, 0.897) 43%,
    rgba(223, 25, 25, 0.795)
  ) !important;
  text-transform: uppercase;
  color: white !important;
  font-size: 1rem !important;
  width: 70%;
  max-width: 300px;
  border-radius: 5px;
}

.list_modal {
  height: 100%;
  background: linear-gradient(
    90deg,
    rgb(19%, 12%, 63%, 0.8),
    rgba(255, 255, 255, 0.8)
  );
}
