.select_box {
  width: 100%;
}

.form_select {
  width: 100%;
  border: none;
  font-style: inherit;
  padding: 10px 5px;
  border-bottom: 1px solid #e0e0e0;
  margin: 20px 0px;
}

.form_option {
  background: #e0e0e0;
}

option:checked {
  background: white;
  color: rgb(75, 14, 104);
}

.big {
  font-size: 1.2em;
}

select::after {
  background: yellow;
}
