.btn_save {
  background: inherit;
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 50%;
}
.btn_save:hover,
.btn_save:active,
.btn_save:focus {
  box-shadow: 0 3px 10px -2px #212121;
}

.avatar_upload {
  display: flex;
  justify-content: space-between;
}
