.header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 1px solid white;
}

.logo {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.logo p {
  margin: 0;
  margin-left: 10px;
  font-family: Gugi, sans-serif;
  color: beige;
  font-size: 14px;
  text-transform: uppercase;
}

.user {
  display: flex;
  align-items: center;
}

.user__info {
  display: flex;
  align-items: center;
  margin-right: 10px;
  color: #278b6f;
  text-transform: capitalize;
  text-decoration: none;
}
