.header {
  height: 60px;
  border-bottom: 1px solid #fffefe;
  background-color: #212121;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  padding: 0 60px;
}

.header__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .header {
    padding: 0 40px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding: 0 20px;
  }
}

.logo {
  /* display: flex; */
  text-decoration: none;
  /* align-items: center; */
}

.logo p {
  margin: 0;
  /* margin-left: 10px; */
  font-family: Gugi, sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.user {
  display: flex;
  align-items: center;
}

.user__info {
  display: flex;
  align-items: center;
  color: #fffefe;
  text-transform: capitalize;
  text-decoration: none;
  margin: 0;
  margin-right: 13px;
  padding: 6px 0;
  border-right: 1px solid #fffefe;
}

.user__info p {
  margin: 0;
  padding-right: 10px;
}
