.balancePositive {
  font-family: Prompt;
  font-weight: 700;
  font-size: 18px;
  z-index: 999;
  position: absolute;
  width: 150px;
  height: 20px;
  margin: 0;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
  color: #24cca7;
}

.balanceNegative {
  font-family: Prompt;
  font-weight: 700;
  font-size: 18px;
  z-index: 999;
  position: absolute;
  width: 150px;
  height: 20px;
  margin: 0;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
  color: #ff6596;
}
