body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 767px) {
  /* ! для валюти */

  .makeStyles-table-1 {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1280px) {
  .dashBoardPage {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (max-width: 1279px) {
  /* ? для дешборда */

  .makeStyles-table-12 {
    margin-left: auto;
    margin-right: auto;
  }
}

/* .MuiFormControl-root {
  min-width: 280px;
} */
