body {
  background-image: linear-gradient(
    to bottom,
    rgba(33, 33, 33, 0.25),
    rgba(255, 254, 254, 0.6)
  );
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page {
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .page {
    padding: 0 40px;
  }
}

@media screen and (min-width: 1280px) {
  .page {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 60px;
    max-width: 1440px;
    margin: 0 auto;
  }
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.btn {
  position: absolute;
}

@media screen and (max-width: 767px) {
  .content {
    margin-top: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .sidebar__gl {
    position: relative;
    width: 378px;
    height: 100vh;
    background-attachment: fixed;
  }

  .content {
    width: calc(100%-200px);
    padding: 100px 0 4vh;
    height: 100%;
  }
}
