.button {
  background-color: #fff;
  border: none;
  border-radius: 10px;
}

.buttonIcon {
  color: '#g5vg5fg';
  cursor: pointer;
}

.buttonIcon:hover,
.buttonIcon:focus {
  transform: scale(1.2);
}
